@import "base/_base_dir";
@import "fnc/_fnc_dir";
@import "design/_design_dir";
@import "components/_components_dir";

body {
    color:white;
    background-color: black;
    font-family: Ubuntu;
    cursor: url("../images/icons/wand-sparkles.svg"), auto;
    overflow: hidden;
    height: 100dvh;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

header {
    height: 15dvh;
}

main {
    height: 75dvh;
}

footer {
    height: 10dvh;
}