@import "base/_base_dir";
@import "fnc/_fnc_dir";
@import "design/_design_dir";
@import "components/_components_dir";

body {
    color:var(--text);
    background-color: var(--background);
    font-family: Dum;
    font-size: 1.2rem;
    cursor: url("../images/harrys+outline+potter+wand+icon-1320183610164113766_32.svg"), auto;
    overflow: hidden;
    height: 100dvh;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        filter:blur(2px);
        pointer-events: none;
    }

    #mainInfoVideo {
        z-index: -1;
        @include box(100%);
        position: absolute;
        top: 0;
        left: 0;
        

        video {
            @include box(100%);
            object-fit: cover;
            pointer-events: none;
            filter:contrast(200%) brightness(250%) sepia(100%) blur(3px);
        }
    }
}

header {
    height: 15dvh;
}

main {
    height: 75dvh;
}

footer {
    height: 10dvh;
}