@font-face {
    font-family: 'Ubuntu';
    src:url('../fonts/Ubuntu_Sans/static/UbuntuSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Harry';
    src:url('../fonts/HARRYP__.TTF') format('truetype')
}


@font-face {
    font-family: 'Lumos';
    src:url('../fonts/LUMOS.TTF') format('truetype')
}

@font-face {
    font-family: 'Magic1';
    src:url('../fonts/MagicSchoolOne.ttf') format('truetype')
}