@font-face {
    font-family: 'Ubuntu';
    src:url('../fonts/Ubuntu_Sans/static/UbuntuSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Harry';
    src:url('../fonts/HARRYP__.TTF') format('truetype')
}

@font-face {
    font-family: 'Magic1';
    src:url('../fonts/MagicSchoolOne.ttf') format('truetype')
}

@font-face {
    font-family: 'Magic2';
    src:url('../fonts/MagicSchoolTwo.ttf') format('truetype')
}

@font-face {
    font-family: 'Dum';
    src:url('../fonts/dum2/dum2.ttf') format('truetype')
}

@font-face {
    font-family: 'Dum2';
    src:url('../fonts/dum2/dum1wide.ttf') format('truetype')
}