main {
    #chatRoom {
        display:none;
        @include box(100%);

        #chatRoomContainer {
            @include flex(column,space-between,center);
            @include box(100%);

            #chatDisplay {
                @include box(100%,70%);

            }

            #chatInput {
                z-index: 2;
                @include box(100%,30%);
                @include flex(column,space-between,center);

                textarea {
                    width: 350px;
                    margin-bottom: 15px;
                    height: auto;
                    min-height: 100px;
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    box-sizing: border-box;
                    resize: vertical;
                }

                #chatSubmit {
                    @extend .pointer;
                    border-radius: 15px;
                    padding:5px 10px
                }
            }

            #chatLogo {
                z-index: 0;
                position:absolute;
                top:0;
                left:2%;
                height:100%;
                opacity:0.15;
                filter:invert(100%);
            }
        }
    }
}