main {
    #chatRoom {
        display:none;
        @include box(100%);

        #chatRoomContainer {
            @include flex(column,space-between,center);
            @include box(100%);

            #chatDisplay {
                z-index: 1;
                @include box(70%,80%);
                @include flex(column,center,center);
                overflow-y: scroll;
                overflow-x: hidden;
                padding:10px;

                .chatParent {
                    @include box(100%,75%);
                    @include flex(row,space-between,center);
                    flex-wrap: wrap;
                    border: solid 1px rgba(255, 255, 255, 0.205);
                    border-radius: 10px;
                    padding:5px;
                    margin-bottom: 3px;

                    .chatName {
                        color:rgb(255, 248, 184);
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                    .chatMessage {
                        font-size: 1.4rem;
                        margin:0px 10px;
                        white-space: pre-wrap;
                    }
                    .chatDate {
                        font-size: 0.8rem;
                    }

                }

            }

            #chatInput {
                z-index: 2;
                @include box(100%,15%);
                @include flex(column,space-between,center);

                textarea {
                    width: 350px;
                    margin-bottom: 15px;
                    height: auto;
                    min-height: 50px;
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    box-sizing: border-box;
                    resize: vertical;
                }

                #chatSubmit {
                    @extend .pointer;
                    border-radius: 15px;
                    padding:5px 10px
                }
            }

            #chatLogo {
                z-index: 0;
                position:absolute;
                top:0;
                left:2%;
                height:100%;
                opacity:0.05;
                filter:invert(100%);
            }
        }
    }
}