footer {
    @include flex(row,space-between,center);
    margin: 0 5%;

    #socials {
        width:100px;
        @include flex(row,space-between,center);

        img {
            height:35px;
        }
    }
}