@use "../extends/_extends_dir";

header {
    @include flex(row,flex-start,center);
    padding: 0 3%;

    @include responsive(600px) {
        @include flex(row,center,center);
    }
    h1 {
        font-family: Harry;
        font-size: 4rem;
        cursor:pointer;
        z-index: 1;
    }

    #headerNav {
        position:absolute;
        top:5%;
        right:5%;
        @include flex(row,flex-end,center);
        width:125px;
        gap:15px;
    }
}