main {
    @include box(100%);

    section {
        @include box(100%);
    }

    #mainRooms {

        #mainNav {
            @include box(100%);
            @include flex(row,center,center);
            padding:0 5%;

            #roomLeft {
                height:70px;
                transform: rotate(-90deg);
                @extend .pointer;
                z-index: 1;
            }
            #roomLeft:hover {
                transform: rotate(-90deg) scale(110%);
                filter:sepia(150%);
            }

            #selectedHouse {
                height:60%;
                margin:0 25px;
                filter:invert(100%);
                @extend .pointer;
            }
            #selectedHouse:hover {
                transform: scale(110%);
                filter:invert(100%) sepia(100%);
            }

            #roomRight {
                height:70px;
                transform: rotate(90deg);
                @extend .pointer;
                z-index: 1;
            }
            #roomRight:hover {
                transform: rotate(90deg) scale(110%);
                filter:sepia(150%);
            }
        }
        
        #mainNavEnter {
            display:none;
            font-size: 3rem;
            font-family: Magic2;
            position:absolute;
            bottom: 12dvh;
            left:50%;
            transform:translateX(-50%);
        }
    }

    #mainLogin {
        #mainLoginBox {
            position: relative;
            @include box(100%);
            @include flex(column,center,center);

            #loginForm {
                @include box(400px);
                @include flex(column,center,center);

                input {
                    z-index: 1;
                    margin-bottom: 25px;
                    border-radius: 15px;
                    padding: 5px;
                }

                #loginButton {
                    border-radius: 30px;
                    padding: 7px 14px;
                }
            }

            #hogwartsLogo {
                @extend .absoluteCenter;
                filter:grayscale(1) invert(100%) opacity(8%);
            }
        }
    }

    #mainRegister {
        #mainRegisterBox {
            position: relative;
            @include box(100%);
            @include flex(column,center,center);

            #registerForm {
                @include box(400px,auto);
                @include flex(column,center,center);

                input {
                    margin-bottom: 10px;
                    border-radius: 15px;
                    padding: 5px;
                }

                #molduContainer {
                    margin-bottom: 10px;
                    @include flex(row,center,center);
                }

                select {
                    margin-bottom: 10px;
                }

                #registerButton {
                    border-radius: 30px;
                    padding: 7px 14px;
                }
            }

            #registerBackground {
                position:absolute;
                bottom: 0;
                right:5%;
                z-index: -1;
                height:90%;
                filter:contrast(115%);
            }
        }
    }

    #mainInfo {
        @include box(100%);
        div {
            @include box(100%);
            @include flex(column,center,center);

            #info {
                font-size: 2rem;
            }
        }
    } 
}
